extends layout.pug 

block content
  h1 tags.pub
  
  p
    | This is a server for&nbsp;
    a(href='https://en.wikipedia.org/wiki/Hashtag') hashtags
    | &nbsp;on the&nbsp;
    a(href='https://activitypub.rocks/') ActivityPub
    | &nbsp;network.
    
  p
    | It complies with ActivityPub's requirement that&nbsp;
    a(href='https://www.w3.org/TR/activitypub/#obj-id') object IDs
    | &nbsp;are https: URLs that resolve to an Activity Streams 2.0 representation.
    
  h2 Using tags.pub
  
  p
  | You can just refer to a tags.pub URL when using hashtags in your code. For example,
  pre
    code
      | {
      |   "@context": "https://www.w3.org/ns/activitystreams",
      |   "type": "Note",
      |   "content": "Here is a note with a tag.",
      |   "tag": "https://tags.pub/tag/example"
      | }
  | or
  pre 
    code
    | {
    |   "@context": "https://www.w3.org/ns/activitystreams",
    |   "type": "Note",
    |   "content": "Here is a note with a tag.",
    |   "tag": {
    |     "id": "https://tags.pub/tag/example",
    |     "type": "Hashtag"
    |   }
    | }
    
  p
    | If you fetch the object at
    code https://tags.pub/tag/example
    | , you will get something like the following:
    pre
      code
      |  {
      |    "id": "https://tags.pub/tag/example",
      |    "type": "Hashtag",
      |    "name": "#example"
      |  }
      
  h2 Source code
  
  p
    | Source code for this server is available under the
    a(rel="license", href='https://www.apache.org/licenses/LICENSE-2.0') Apache 2.0 license
    | at
    a(href='https://gitlab.com/evanp/tags-pub') https://gitlab.com/evanp/tags-pub
    | .
